@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body{
font-family:muli;
}
.container{
position:relative;
padding-bottom:60px;
}
.nav-item{
   letter-spacing:0.2e;
   text-transform:uppercase;
   font-size:14px;
}
.dropdown-item{
   letter-spacing:0.2e;
   text-transform:uppercase;
   font-size:14px;
}
.my_row_class{
padding-top:15px;
}
.my_row_class .mx-auto{
color:black;
font-size:12px;
}
.my_image{
width:100%;
height:auto;
}
.my_title{
letter-spacing:0.2em;
font-size:16px;
text-transform:uppercase;
font-weight:bold;
}
.my_image_padding{
padding:5px;
}
.my_footer{
background-color:grey;
position:absolute;
bottom:0;
height:60px;
width:100%
}
.my_footer p {
padding-top:40px;
font-size:12px;
}
.my_bottom_margin{
margin-bottom:10px;
}
.card-body h4{
font-size:14px;
text-transform:uppercase;
letter-spacing:.2em;
padding-top:15px;
padding-bottom:10px;
}
.product_row_class{
padding-top:15px;
padding-bottom:20px;
}
.product_row_class .mx_auto
{
color:#000;
font-size:15px;
text-decoration:None;
}
.card-img-top {
    height: 15rem;

}
.product_title{
font-size:16px;
text-transform:uppercase;
letter-spacing:.2em;
}
.my_prod_text{
font-size:14px;
padding-right:20px;
}
.my_search_text{
padding-top:15px;
}
.custom_table{
min-width:400px;
font-size:14px;

}
.custom_thead{
font-weight:normal;
text-transform:uppercase;
letter-spacing:0.2rem;
background-color:#f8f8fa !important;
}
.custom_a{
text-decoration:none;
}
.custom_icon{
text-decoration:none;
color:#868e96 !important;
}
.custom-button{
   margin-top:5px;
}
